<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>L-Systems.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65F1EB1D206C8083007DF72B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F1EB34206C8083007DF72B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F1EB3F206C8083007DF72B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
